[libdefaults]
        default_realm = XXX.COM
        clock_skew = 300
        ticket_lifetime = 24000
        dns_lookup_realm = true
        dns_lookup_kdc = true
[realms]
        XXX.COM = {
                kdc = XXX.com
                kdc = absdomvwp03.XXX.com
                admin_server = absdomvwp03.XXX.com
                default_domain = XXX.COM
                }
[domain_realm]
        .domainead = XXX
        domainead = XXX
        .xxx.com = XXX.COM

[login]
        forwardable = true
        krb5_run_aklog = true
        krb5_get_tickets = true

[appdefaults]
pam = {
    ticket_lifetime = 1d
    renew_lifetime = 1d
    forwardable = true
    proxiable = false
    retain_after_close = true
    krb4_convert = false
}
